@tailwind base;
@tailwind components;
@tailwind utilities;

.glassmorphism {
  backdrop-filter: blur(4px) saturate(103%);
  -webkit-backdrop-filter: blur(4px) saturate(103%);
  background-color: rgba(56, 56, 226, 0.19);
}
